body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  font-family: sans-serif;
}
.image-container{
  text-align: center;
}
.image-container img{
  width: 300px;
  height: 300px;
  background-color: lightgray;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  
}
.btn{
  background-color: slateblue;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  cursor: pointer;
}

.btn:hover{
  opacity: 0.9;
}